Repository duplojs/zod-to-typescript, pull requests merged in 2025-03, with the labels that each got.

#28 fix(26): fix careless mistake and refacto github workflow
  .github/labeler.yml
  .github/workflows/check-title.json
  .github/workflows/check-title.yml
  .github/workflows/develop@check-title.json
  .github/workflows/develop@computed-version.yml
  .github/workflows/develop@publisher.yml
  .github/workflows/main@check-title.json
  .github/workflows/main@publisher.yml
  .github/workflows/main@rename-pull-request.yml
  .github/workflows/publisher.yml
  .vscode/settings.json
  README.md
  eslint.config.js
  package-lock.json
  package.json
  rollup.config.js
  scripts/ZodToTypescript.test.ts
  scripts/ZodToTypescript.ts
  scripts/__snapshots__/ZodToTypescript.test.ts.snap
  vitest.config.js
Labels: bug, wip, package, md, github

#29 update
  .github/labeler.yml
  .github/workflows/check-title.json
  .github/workflows/check-title.yml
  .github/workflows/develop@check-title.json
  .github/workflows/develop@computed-version.yml
  .github/workflows/develop@publisher.yml
  .github/workflows/main@check-title.json
  .github/workflows/main@publisher.yml
  .github/workflows/main@rename-pull-request.yml
  .github/workflows/publisher.yml
  .vscode/settings.json
  README.md
  eslint.config.js
  package-lock.json
  package.json
  rollup.config.js
  scripts/ZodToTypescript.test.ts
  scripts/ZodToTypescript.ts
  scripts/__snapshots__/ZodToTypescript.test.ts.snap
  vitest.config.js
Labels: wrong title, wip, package, md, github

#30 feat(27): add override type node method
  scripts/ZodToTypescript.test.ts
  scripts/ZodToTypescript.ts
  scripts/index.ts
  scripts/typescriptTransformators/__snapshots__/overrideTypeNode.test.ts.snap
  scripts/typescriptTransformators/overrideTypeNode.test.ts
  scripts/typescriptTransformators/overrideTypeNode.ts
Labels: wip
